name: Install Bazel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install-bazel:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
            # Avoid downloading Bazel every time.
          bazelisk-cache: true
            # Store build cache per workflow.
          disk-cache: ${{ github.workflow }}
            # Share repository cache between workflows.
          repository-cache: true
      
      - name: Verify Bazel installation
        run: bazel --version

      - name: List home directory after Bazel install
        run: ls -alh ~

      - name: List all files in home and temp directories
        run: |
          echo "Home directory:"
          ls -alhR ~
          echo "Temp directory:"
          ls -alhR /tmp
